BOT_TOKEN=7551749323:AAFcHWb6K0llahR0qDP7xoRjGm5WlJFAzeg
API_ID=38557745
API_HASH=095e7cb4ee689244d024db2094815845
BIN_CHANNEL_ID=-1002272193586
ADMIN_USER_ID=6902088646
MONGO_URI=mongodb+srv://mdparvez:Parvez@129@cluster0.eebggak.mongodb.net/?appName=Cluster0
BASE_URL=https://tobitube-bot-2-0.onrender.com
